.bank-box {
  border: 1px solid #ccc;
  padding: 5px;
  height: 90px;
  width: 120px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bank-type-title {
  font-weight: bold;
}

.payment-container {
  min-height: 100vh;
  background: #f3f4f6;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  position: relative;
}

.payment-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.payment-box {
  background: #fff;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 960px;
  width: 100%;
  padding: 1.5rem;
  gap: 1.5rem;
}

.order-info {
  padding-right: 1rem;
}

.section-title {
  font-size: 1.125rem;
  font-weight: 600;
  border-bottom: 1px solid #e5e7eb;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.info-list {
  display: flex;
  flex-direction: column;
}

.label {
  color: #6b7280;
  margin-bottom: 0.25rem;
}

.value {
  font-weight: 500;
}

.highlight {
  color: #2563eb;
  font-weight: bold;
  font-size: 1.25rem;
}

.uppercase {
  text-transform: uppercase;
}

.qr-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.qr-title {
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-align: center;
}

.qr-image {
  width: 13rem;
  height: 13rem;
  border: 2px solid #769fe0;
  border-radius: 5px;
  padding: 0.5rem;
}

.scan-note {
  color: #59aace;
  font-size: 20px;
  margin-top: 0.5rem;
  font-style: italic;
  font-weight: 600;
}

.warning-wrapper {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.warning-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fef3c7;
  color: #92400e;
  padding: 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  flex-wrap: wrap;
  max-width: 960px;
  width: 100%;
  border-radius: 5px;
}

.warning-bar {
  flex: 1;
  margin-right: 1rem;
}

.expire-time {
  white-space: nowrap;
  color: #4b5563;
  font-weight: 400;
}

.time-value {
  font-weight: bold;
  color: #000;
}

.info-list {
  background-color: #f9fafb; /* nền xám nhạt */
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  padding: 1.5rem;
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.info-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0.5rem 0;
  border-bottom: 1px dashed #e5e7eb;
}

.info-item:last-child {
  border-bottom: none;
}

.label {
  color: #6b7280; /* text-gray-500 */
  font-size: 0.9rem;
  font-weight: 500;
}

.value {
  color: #111827; /* text-gray-900 */
  font-weight: 600;
  font-size: 1rem;
}

.value sup {
  font-size: 0.7rem;
  margin-left: 2px;
}

.value.highlight {
  color: #dc2626; /* red-600 */
  font-size: 1.2rem;
}

.uppercase {
  text-transform: uppercase;
}